<!-- About Start -->
<div class="about" id="about">
  <div class="content-inner">
    <div class="content-header">
      <h2>About Me</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-5">
        <img src="../../../assets/img/about.jpg" alt="Image" />
      </div>
      <div class="col-md-6 col-lg-7">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
          suscipit orci. Donec molestie velit id libero blandit, quis suscipit
          urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus
          eu sem pharetra feugiat. Proin libero ligula, gravida at porttitor
          eget.
        </p>
        <a class="btn" href="#">Hire Me</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let data of aboutData">
        <div class="mb-3">
          <div class="skill-name">
            <p>{{ data.name }}</p>
            <p>{{ data.percentage }}%</p>
          </div>
          <div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [appProgressBar]="data.percentage"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
