/**********************************/
/*********** Header CSS ***********/
/**********************************/
.header {
  position: relative;
  background: #ffffff;
}

.header .content-inner {
  padding: 100px 30px;
  background: url(../../../assets/img/profile.png) right bottom no-repeat;
  background-size: contain;
}

.header p {
  color: #ff6f61;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.header h1 {
  color: #222222;
  font-size: 50px;
  font-weight: 700;
}

.header h2 {
  display: inline-block;
  margin: 0;
  height: 25px;
  font-size: 25px;
}

.header .typed-cursor {
  font-size: 25px;
  font-weight: 300;
  color: #222222;
}

.large-btn .content-inner {
  font-size: 0;
  border-bottom: 30px solid #f6d155;
}

.large-btn .btn {
  position: relative;
  width: 50%;
  padding: 15px 0;
  color: #ff6f61;
  font-size: 20px;
  background: #222222;
  border-radius: 0;
}

.large-btn .btn:last-child {
  color: #222222;
  background: #ff6f61;
}

.large-btn .btn i {
  margin-right: 8px;
}

.large-btn .btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.large-btn .btn:hover::after {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
